<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{topdir}}static/site.css">
  </head>
  <body>
    <main>
      {{{content}}}
    </main>
  </body>
</html>
